*.class

# Package Files #
*.jar
*.war
*.ear
/test/Defect.mp3
/test/WAMozartA.mp3
/test/f2.gif
/test/04 She's Into Something 2.mp3
/test/RequirementsInDotNet2.pdf
/test/descript.ion
/test/04 She's Into Something.mp3
/test/WAMozartB.mp3
/test/03 Lyin' Like A Dog.flac
/test/RequirementsInDotNet1.pdf
/test/f1.gif
/test/Tower Heist.mp4